.benefit-2 {
  display: flex;
  flex-direction: column;
  height: 415px;
  left: 99px;
  position: absolute;
  top: 338px;
  width: 368px;
}

.icon-key {
  height: 96px;
  margin-left: 137px;
  object-fit: cover;
  width: 96px;
}

.ownership {
  height: 48px;
  letter-spacing: 0;
  margin-top: 22px;
  text-align: center;
  width: 364px;
}

.why-homeowners-are-c {
  height: 227px;
  letter-spacing: 0;
  margin-left: 44px;
  margin-top: 22px;
  text-align: center;
  width: 282px;
}

.benefit-2.benefit-2-1 {
  left: 2px;
  top: 391px;
}

